{% extends "layout.html" %}
{% block content %}
    <h1>Clone Trooper Prediction Model</h1>
    <p>{{ info | safe }}</p>

    <h2>Prediction</h2>
    <form id="form" method="post" action="{{ url_for('model') }}">
        <p><label>
            Clone Type: <input name="clone_type" value="{{ clone_type }}"/>
        </label></p>
        <br class="clear">
        <p><label>
            Rank: <input name="rank" value="{{ rank }}"/>
        </label></p>
        <br class="clear">
        <p><label>
            Assigned General: <input name="assigned_general" value="{{ assigned_general }}"/>
        </label></p>
        <br class="clear">
        <br class="clear">
        <button type="submit">Predict Success Percentage</button>
        <br class="clear">
    </form>

    <h3>
        Prediction: {{ prediction }}
    </h3>

{% endblock %}
